
[General]
allow_his_tag    = False
benchmark_mode   = False
ccp4_jobid       = None
debug            = False
dry_run          = False
early_terminate  = True
name             = ampl
nmr_process      = None
nmr_remodel      = False
no_gui           = False
nproc            = 1
output_pdb       = ample_output.pdb
purge            = False
rcdir            = None
run_dir          = None
submit_array     = True
submit_cluster   = False 
submit_max_array = None
submit_qtype     = None
submit_queue     = None
webserver_uri    = None

[Executables]
blast_dir                = None
fast_protein_cluster_exe = None
gesamt_exe               = None
LGA                      = None
maxcluster_exe           = None
mustang_exe              = None
phenix_exe               = None
rosetta_AbinitioRelax    = None
rosetta_dir              = None
rosetta_fragments_exe    = None
scwrl_exe                = None
shelxe_exe               = None
spicker_exe              = None
theseus_exe              = None

[Databases]
nr         = None
rosetta_db = None

[Restraints]
distance_to_neighbour   = 5
domain_termini_distance = 0
energy_function         = FADE
native_cutoff           = 8
restraints_factor       = 1.0
restraints_weight       = 0.0
use_contacts            = False

[Modelling]
all_atom        = True
import_models   = False
make_frags      = True
make_models     = True
nmodels         = 1000
quark_models    = False
rg_reweight     = None
ROSETTA_cluster = None
rosetta_version = None
transmembrane   = False
transmembrane2  = False
use_homs        = True

[Ensembling]
cluster_method        = spicker
ensemble_options      = None
homologs              = False
homolog_aligner       = gesamt
import_cluster        = False
import_ensembles      = False
improve_template      = None
max_ensemble_models   = 30
make_ensembles        = True
missing_domain        = False
num_clusters          = 1
percent               = 5
side_chain_treatments = None 
subcluster_program    = maxcluster
top_model_only        = False
truncation_method     = percent
truncation_pruning    = None
use_scwrl             = False

[Molecular_Replacement]
arpwarp_cycles           = 10
buccaneer_cycles         = 5
do_mr                    = True
F                        = None
FREE                     = None
ideal_helices            = False
molrep_only              = False
mrbump_scripts           = None
mr_keys                  = None
mr_sg_all                = None
nmasu                    = 0
phaser_kill              = 360
phaser_only              = True
phaser_rms               = 0.1
shelx_cycles             = 15
shelxe_rebuild           = False
shelxe_rebuild_arpwarp   = False
shelxe_rebuild_buccaneer = False
SIGF                     = None
use_arpwarp              = True
use_buccaneer            = True
use_shelxe               = True


#cmdline_flags= None
#make_mr = True
#success = False
